{% extends 'app/base.html' %}
{% block tittle %} Editar Paquete {% endblock %}
{% load static %}

{%  block content  %}
<br>
<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Editar Paquete</h2>
        <div class="card">
            <div class="card-body">
                <form action="/editarPaquete/" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" id="txtCodigo" name="txtCodigo" value= "{{paquete.id}}" class="form-control" placeholder="Codigo" 
                            minlength="6" maxlength="6" readonly required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="txtNombre" name="txtNombre" value= "{{paquete.nombre}}" class="form-control" placeholder="Nombre" 
                            minlength="1" maxlength="50" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input type="text" id="numPrecio" name="numPrecio" value= "{{paquete.precio}}" class="form-control"  
                            minlength="1" maxlength="7" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white" id="btnGuardar">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
{% endblock %}