{% extends 'app/base.html' %}
{% block tittle %} Servicios {% endblock %}
{% load static %}

{%  block content  %}

<br>
<h3 id="servicio">Electronica Automotriz</h3>
<div class="container">
    <p>Una de nuestras especialidades en Web Motor INC es la Electronica Automotriz, podemos realizar escaners para encontrar fallas,<br>
        realizar chequeos electronicos del vehiculo, reprogramacion de centralita, mantenimento de fusibles, instalaciones de radio, etc.<br>
        Todos estos servicios seran realizados por mecanicos especializados y experimentados en esta area.</p>
    </div>   
    <br>
    <h3 id="servicio">Transmision Automotriz</h3>  
    <div class="container">  
        <p>Una de nuestras especialidades en Web Motor INC es el sistema de Transmision, podemos realizar comberciones de caja automatica a<br>
        caja manual, mantenimiento y cambios de embrague, mantenimiento de cajas de cambio, cambios de aceite de la caja de cambio, revision<br>
        de la linea de transmision ajuste de diferencial, etc.<br>
        Todos estos servicios seran realizados por mecanicos especializados y experimentados en esta area.</p> 
    </div>
    <br>
      <h3 id="servicio">Suspension y Direccion Automotriz</h3>  
    <div class="container">    
      <p>Una de nuestras especialidades en Web Motor INC es el sistema de Direccion y Suspencion Automotriz, podemos realizar mantenimiento<br>
        de suspneciones, ajuste de altura del vehiculo, cambio de amortiguadores, cambio de tipo de suspension, mantenimiento de direccion<br>
        cambio en angulo de direccion, etc.<br>
        Todos estos servicios seran realizados por mecanicos especializados y experimentados en esta area.</p>
    </div>
    <br>

{% endblock %}