{% extends 'app/base.html' %}
{% block tittle %} Ubicacion {% endblock %}
{% load static %}

{%  block content  %}

<br>
    <h2>Ubicacion</h2>
    <hr>
    <br>
    <div id="map"></div>
    <script id="mapa"
        async
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB41DRUbKWJHPxaFjMAwdrzWzbVKartNGg&callback=initMap&v=weekly"
    ></script>

    <script>
        const mapDiv = document.getElementById("map");
        let map;
        function initMap() {
          map = new google.maps.Map(mapDiv, {
            center: { lat: -33.510757, lng: -70.756028 },
            zoom: 15,
          });
        }

    </script>
<br>

{% endblock %}